/* Color fondo pagina */

body{
    background-color: rgb(163, 249, 255);
}

/* Formato texto */

.relleno p, ul{
    position: relative;
    margin: 10px 20px 30px 20px;
    font-size: 30px;
    text-justify: auto;
}

.relleno h1{
    text-align: center;
    font-size: 50px;

}

#piscinas_municipales{
    text-align: center;
    font-size: 60px;
}

#bienvenida_h1{
    font-size: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(4, 0, 255);
    text-align: center;
    padding-top: 30px ;
}

/* Tabla de horario */
table,th,td{
    border: 1px solid black;
    width: 100%;
    font-size: x-large;
    border-collapse: collapse;

}

td{
    text-align: center;
    width: 33%;
    background-color: rgb(125, 238, 238);
}

th{
    width: 15%;
    background-color: rgb(63, 199, 199);
}

#dia_semana{
    background-color: rgb(238, 215, 88);
}

#portero{
    background-color: rgb(182, 117, 243);
}


/* Bloques de texto */

#espacio{
    position: relative;
}

#bienvenida{
    position: relative;
    margin: 30px 8%;
    background-color: rgb(250, 104, 255);
    border-radius: 15px;
}

#normativa{
    position: relative;
    margin: 30px 8%;
}

#instalaciones{
    position: relative;
    margin: 30px 8%;

}

#actividades{
    position: relative;
    margin: 30px 8%;

}

#horario{
    position: relative;
    margin: 30px 8%;

}

#fotos_fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 80%;
    border-radius: 15px;
}

#texto{
    position: relative;
    z-index: 2;
}

/* Cabecera y pie de pagina */

.cabecera{
    box-sizing: border-box;
    position: sticky ;
    /* Aimar */
    top: 0;
    background-color: rgb(153, 243, 243);
    z-index: 4;
    /* Aimar */
    border:1px solid black;
    width:100%;
    height: 50px;
    float:left;
}
#EscudoBurlada{
    position: absolute;
    float: left;
    height: 100%;
}
.cabecera h1{
    float: left;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 10px;
    
}.cabecera h2{
    float: right;
    
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.piePagina{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 5px;
    border-width: border-box;
    border:1px solid black;
    width:100%;
    height: 100px;
}
.piePagina
.piePagina h1{
    position: absolute;
        float: left;
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 10px;
}

#mapa{
   position: absolute;
   grid-column: 2/3;
    float: right;
    height: 100%;
    float: left;
    top: 0px;
    left: 25%;
}


div #contactos  {
    position: absolute;
    left: 40%;
    padding-bottom: 0px;
    margin: 0px 0px;
   padding: 0px 0px;
    height: 100%;
    justify-content: center;
    font-size: small;
}
div #contactos p{
    grid-column: 3/4;
    position: absolute;
    margin: 1px 1px;
    padding: 1px 1px;
}
#federacion  {
    position: absolute;
    grid-column:4/5;
    font-size: large;
}

