
/* APLICA A TODO */
/* APLICA A TODO */
/* APLICA A TODO */

body{
    background-image: url(../img/fondo_prueba2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

p {
    text-justify: auto;
}
/* APLICA A TODO */
/* APLICA A TODO */
/* APLICA A TODO */



/* CABECERA*/
/* CABECERA*/
/* CABECERA*/

    .cabecera{
        box-sizing: border-box;
        position: sticky ;

        top: 0;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto  ;
        width: 100%;
        margin: 0px 0px;
        background-color: white;
        z-index: 4;

        border-bottom:1px solid black;

        height: 70px;
        float:none;
    }

    #EscudoBurlada{
        position: relative;
        right: 0%;
        height: 100%;
        padding-bottom: 1px;
    }
    .cabecera #EscudoBurlada{
        grid-column: 1/2;
        height:70px;
    }
    .cabecera h1{
        position: relative;
        float: left;
        margin-top: 0px;
        grid-column: 2/3;
        padding-top: 15px;

    }
    .cabecera a{
        float: right;
        position: relative;
        text-decoration: none;
        height: 100%;
        margin-top: px;
        padding-top: 20px;
        padding-left: 23px;
        padding-right: 23px;
    }

    #cabeceraPiscina{
        grid-column: 12/13;
        grid-row: 1/2;
        font-size: x-large;
    }

    #cabeceraReservar{
        grid-column: 11/12;
        grid-row: 1/2;
        font-size: x-large;

    }

    #cabeceraInicio{
        grid-column: 10/11;
        grid-row: 1/2;
        font-size: x-large;

    }


    /* Links cabecera */
    .cabecera a:hover{
        background-color: rgb(64, 211, 211);
        height: 94%;
    }

    .cabecera a:visited {
        color: rgb(0, 0, 0);
    }

    .cabecera a:link{
        color: rgb(0, 0, 0);
    }

    @media only screen and (max-width: 840px) {
        
    }
    /* Fin Inicio Tablet */

    /* Cabecera movil */
    @media only screen and (max-width: 666px) {
        #cabeceraInicio a{
            padding-top: 30px;
            font-size: small;
        }
        #cabeceraReservar a{
            padding-top: 30px;
            font-size: small;
        }
        #cabeceraPiscina a{
            padding-top: 30px;
            font-size: small;
        }

        .cabecera a:hover{
            background-color: rgb(64, 211, 211);
            height: 99%;
        }
    }
    /* Fin Cabecera Movil */
/* FIN CABECERA */
/* FIN CABECERA */
/* FIN CABECERA */



/* INICIO (Ordenador, Tablet, Movil) */
/* INICIO (Ordenador, Tablet, Movil) */
/* INICIO (Ordenador, Tablet, Movil) */

    /* Inicio Ordenador */
    .gridrrelleno{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto  ;
        grid-row: auto auto auto auto;
        /* gap: 10px 10px; */
    }

    .relleno p, .relleno ul{
        position: relative;
        margin: 10px 20px 30px 20px;
        font-size: 25px;
        text-justify: auto;
    }

    .relleno h1{
        text-align: center;
        font-size: 50px;

    }

    #piscinas_municipales {
        position: relative;
        text-align: center;
        font-size: 40px;
        padding-top: 0px;
        margin-top: 0px;
        z-index: 2;
    }

    #bienvenida_h1{
        position: relative;
        font-size: 120px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 25px ;
        margin-bottom: 20px;
        padding-bottom: 0px;
        z-index: 2;
    }

    #bienvenida_p{
        background-color: rgb(255, 255, 255,0.25);
        margin-top: 60px;
        margin-bottom: 80px;
    }

    #actividades p{
        margin-left: 30px;
        margin-right: 30px;
    }

    table,th,td{
        border: 1px solid black;
        font-size: x-large;
        border-collapse: collapse;

    }

    td{
        text-align: center;
        width: 33%;
        background-color: rgb(125, 238, 238);
    }

    th{
        width: 15%;
        background-color: rgb(63, 199, 199);
    }

    #dia_semana{
        background-color: rgb(238, 215, 88);
    }

    #portero{
        background-color: rgb(182, 117, 243);
    }

    .relleno{
        position: relative;
        text-align: justify;
    }

    #bienvenida{
        grid-column: 1/12;
        grid-row: 1/2;
    }

    #normativa{
        grid-column: 2/6;
        grid-row: 2/3;
        margin: 30px 8%;
    }

    #instalaciones{
        grid-column: 6/10;
        grid-row: 2/3;
        margin: 30px 8%;
    }

    #actividades{
        grid-column: 2/6;
        grid-row: 3/4;
        margin: 30px 8%;
    }

    #horario{
        grid-column: 6/10;
        grid-row: 3/4;
        margin: 30px 8%;
        height: 100%;
    }

    #horario table{
        height: 88%;
    }

    #horario td,#horario tr{
        font-size: small;        
    }

    #horario tr,td,th{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #fotoCarru{
        grid-column: 2/11;
        grid-row: 4/5;
        margin: 30px 8%;
    }

    #carrufotodedentro{
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    #fotos_fondo{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 70%;
        margin-left: 0px;
        padding-left: 0px;
        border-radius: 15px;
        z-index: 0;
    }

    #foto_bienvenida{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 80%;
        margin-left: 0px;
        padding-left: 0px;
        z-index: 0;
    }

    #texto{
        position: relative;
        z-index: 2;
    }
    /* Fin Inicio Ordenador */

    /* Inicio Tablet */
    @media only screen and (max-width: 840px) {
        .relleno p, ul{
            font-size: 15px;
        }
        
        .relleno h1{
            font-size: 30px;
        }
        
        #piscinas_municipales {
            font-size: 30px;
            padding-top: 0px;
            margin-top: 0px;
        }
        
        #bienvenida_h1{
            font-size: 50px;
        }
        
        table,th,td{
            font-size: medium;
        }

        #horario tr,td,th{
            padding-top: 0px;
            padding-bottom: 0px;
        }
        
    }
    /* Fin Inicio Tablet */

    /* Inicio movil */
    @media only screen and (max-width: 666px) {
        #Bur h1{
            margin-top: 15px;
            font-size: medium;
        }

        .relleno{
            position: relative;
            text-align: justify;
        }
        #bienvenida{
            grid-column: 1/12;
            grid-row: 1/2;
            
        }
        
        #normativa{
            grid-column: 2/10;
            grid-row: 2/2;
            margin: 30px 8%;
        }
        
        #instalaciones{
            grid-column: 2/10;
            grid-row: 3/3;
            margin: 30px 8%;        
        }
        
        #actividades{
            grid-column: 2/10;
            grid-row: 4/4;
            margin: 30px 8%;        
        }
        
        #horario{
            position: relative;
            grid-column: 2/10;
            grid-row: 5/5;
            margin: 30px 8%;
            height: 100%;
            
        }
        
        #fotoCarru{
            grid-column: 2/10;
            grid-row: 6/6;
        }
    }
        /* Fin Inicio Movil */
   
/* FIN INICIO */
/* FIN INICIO */
/* FIN INICIO */



/* RESERVAR (Ordenador, Movil, Tablet) */
/* RESERVAR (Ordenador, Movil, Tablet) */
/* RESERVAR (Ordenador, Movil, Tablet) */

    .gridReserva{
        display: grid;
        width: 100%;
        gap: 20px 20px;
        grid-template-columns:auto  ;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto    ;
    } 
    table{
        width: 100%;
    }


    #datos{ 
        position: relative;
        width: 90%;
        grid-column: 2/12;
        grid-row: 1/5;
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    
        background-color: white;
        border-radius: 15px;
        border: 1px solid black;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #reserva_horario{
        margin-left: 5%;
        margin-right: 5%;
        display: grid;
        width: 90%;
        grid-column: 2/11;
        grid-row: 6/10;
        margin-bottom: 30px;
    }

    #nombre{
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 10px;
    }

    #apellido{
        position: relative;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #primera_linea{
        margin-top: 100px;
        margin-bottom: 30px;
        margin-left: 25px;
        grid-row: 2/3;
        grid-column: 1/4;
    }

    #dni{
        position: relative;
        margin-bottom: 10px;

    }

    #calle{
        position: relative;
    }

    #segunda_linea{
        margin-top: 100px;
        margin-bottom: 30px;
        grid-row: 2/3;
        grid-column: 3/4;
    }

    #formulario label{
        width: 70px;
        font-size: x-large;
    }

    #primera_linea label{
        width: 100px;
        font-size: x-large;
    }
    #datos input , #datos select{
       width: 200px !important;
    }
    #formulario input, #formulario select{
        width: 100%;
    }

    #foto{
        display: flex;
        grid-column: 4/4;
        grid-row: 2/2;
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #reserva_horario2 td{
        width: auto;
        height: 40px;
        background-color: rgb(235, 235, 126);
    }

    #reserva_horario2 #primera th{
        width: auto;
        height: 40px;

        background-color: rgb(231, 231, 82);
    }

    #reserva_horario2 th{
        background-color: rgb(231, 231, 82);
    }

    #boton{
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }

    #checked{
        opacity: 30%;
        border: #1C4CBD;
        background-color: #1C4CBD;
    }
     input{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        display:grid;
        line-height: 10px;
        width: 20px;
     }
    
    /*Reservar Tablet */
    @media only screen and (max-width: 840px){
     
        .gridReserva{
                display: grid;
                width: 100%;
                gap: 0px 0px;
                grid-template-columns:auto ;
                grid-template-rows: auto auto auto auto auto auto auto     ;
            } 
        
       #datos { 
            position: relative;
            width: 100%;
            grid-column: 2/13 !important ;
            grid-row: 1/8 !important ;
            margin-left: 0px !important ;
            display: grid;
            grid-template-columns: auto !important ;
            grid-template-rows: auto auto auto !important ;
            
            background-color: white;
            border-radius: 15px;
            border: 1px solid black;
            margin-bottom: 50px !important ;
            margin-top: 50px !important ;
            padding-top: 0px !important ;
        }
    
        #primera_linea{
            position: relative;
            grid-row: 1/2;
            grid-column: 1/2;
            margin-bottom: 0px;
            grid-template-rows: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
            align-items: center;
            padding-left: 50px ;
            padding-right: 0px  ;
    
        }
        #segunda_linea{
            position: relative;
            grid-row: 1/2;
            grid-column: 2/3;
            padding-top: 0px;
            align-items: center;

            padding-left: 50px ;
            padding-right: 0px ;
           }
        #dni{
            position: relative;
          
            margin-bottom: 10px;
    
        }
    
        #calle{
            position: relative;
         
        }
        #foto{
            position: relative;
            width: 100%;
            grid-column: 1/3;
            grid-row: 5/6;
            padding-left: 40PX; 
            padding-right: 40PX;
        }
         #foto_reserva {
            width: 500px ;
        }
        #reserva_horario{
            margin-left: 0px;
            display: grid;
            width: 100%;
            grid-column: 2/11;
            grid-row: 6/10;
            margin-bottom: 30px;
        }
        #reserva_horario2 #primera th {
            width: 50px;
        }
         #reserva_horario2 td,tr{
            width: 20px !important;
            padding-left: 0px;
            padding-right: 0px;
    
        }
        #formulario{
            width: 100%;
        }
        #formulario #reserva_horario input{
            width: 40px;
        }
        input{
           margin: 0px 0px 0px 0px;
           padding: 0px 0px;
           display:grid;
           line-height: 10px;
           width: 20px;
        }
        
    }
    /* Fin reservar tablet */
    /* Inicio de reservar movil */
    @media only screen and (max-width: 666px )  {

        .gridReserva{
            gap: 0px 0px;
        } 
        #datos { 
            /* CENTRAR INPUTS */
            padding: 0px;
        }
        #primera_linea{
            padding-left: 0px;
            padding-right: 0px;
        }
        #segunda_linea{
            padding-left: 0px;
            padding-right: 0px;
        }
        #foto{
            padding-left: 20PX; 
            padding-right: 20PX;
        }
        #foto_reserva {
            width: 100%; 
        }
        #reserva_horario2 td,tr{
            width: 20px;
        }
   }
   /* Fin reservar movil */
/* FIN RESERVAR*/
/* FIN RESERVAR*/
/* FIN RESERVAR*/

/* PISCINAS (Ordenador, Tablet, Movil) */
/* PISCINAS (Ordenador, Tablet, Movil) */
/* PISCINAS (Ordenador, Tablet, Movil) */
    #contenedorPiscinas{
        display: grid;
        width: 100%;
        gap: 20px 20px;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
    .bloquesPiscinas{
        display: grid;
        position: relative;
        border: 1px solid black;
        border-radius: 15px;
        grid-column: 2/12;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px ;

        background-color: white;
    }
    #contenedorOlimpica{
        margin-top: 20px;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        grid-row: 1/2;
    }
    #contenedorTxiki{
        grid-template-columns: auto auto auto auto auto  ;
        grid-template-rows: auto auto;
        grid-row: 2/3;
    }
    #contenedorCubierta{
        grid-template-columns: auto auto auto auto auto  ;
        grid-template-rows: auto auto;
        grid-row: 3/4;
    }
    #contenedorSPA{
        margin-bottom: 30px;

        grid-template-columns: auto auto auto auto auto  ;
        grid-template-rows: auto auto ;
        grid-row: 4/5;
    }
    .piscinaNombre{
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        padding-bottom: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .medidasPiscinas{
        position: relative;
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 0px;
        padding-bottom: 60px;
        right: 0px;
    }
    .textoPiscinas{
        position: relative;
        grid-column: 2/5;
        grid-row: 2/3;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        padding-bottom: 60px;
    }
    .textoPiscinas ul{
        text-align: left;
        grid-column: 1/5;
    }
    .imgPiscinas{
        position: relative;
        grid-column: 6/13;
        grid-row: 1/3;
        margin: 0px 0px;
        padding-bottom: 25px;  
        padding-top: 30px;
        padding-right: 5px;
        width: 20p;
    }
    .widthImg{
        width: 300px;
    }
    /* Inicio Tablet */
    @media only screen and (max-width: 840px) {
        .widthImg{
            padding-top: 40px;
            width: 200px;
        }
    }
    /* Fin Tablet */

    /* Inicio Movil */
    @media only screen and (max-width: 666px) {
        .bloquesPiscinas{
            grid-template-rows: 40% auto;
        }
        .widthImg{
            padding-top: 25px;
            width: 100px;
        }
        .piscinaNombre h2{
            padding-top: 10px;
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: large;
        }
        .medidasPiscinas{
            grid-column: 2/3;
            grid-row: 1/2;
            padding-left: 25px;
            font-size: medium;
            padding-bottom: 0px ;
        }
        .textoPiscinas p, .textoPiscinas{
            padding: 0px 0px;
            grid-column: 1/13;
            grid-row: 2/3;
            font-size: medium;
        }

        .textoPiscinas ul{
            grid-column: 1/5;
            font-size: medium;
        }
        .imgPiscinas{
            padding-top: 10px;
            grid-column: 4/13;
            grid-row: 1/2;
        }
    }
    /* Fin Movil */
/* FIN PISCINAS*/
/* FIN PISCINAS*/
/* FIN PISCINAS*/

/* INICIO PIE PAGINA */
/* INICIO PIE PAGINA */
/* INICIO PIE PAGINA */
    .piePagina{
        display: grid;
        grid-area: 100%;
        align-content: center;
        padding-top: 5PX;
        padding-bottom: 5PX;
        float:inline-end;
        background-color: white;
        
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
        grid-template-rows: 100%;
        position: absolute;
        box-sizing: border-box;
        
        border-width: border-box;
        border-top:1px solid black;
        width:100%;
        height: 180px;
        column-gap: 10px;
    }
    .piePagina #EscudoBurlada{
        grid-column: 1/2;
    }
    .piePagina #Bur{
        position: relative;
        float: left;
        padding-top: 40px;
        padding-left: 0px;
        grid-column: 2/3;
        right: 0px;
    }
    #mapa{
        position: absolute;
        grid-column: 3/7;
        float: right;
        float: left;
        top: 0px;

    }
    div #contactos  {
        position: absolute;
        grid-column: 7/9;
        float: left;
        margin: 20px 5px;
        height: 40%;
        justify-content:start;
        font-size: small;
    }
    div #redes{
        top: 15%;
        width: 100%;
        position: absolute;
        grid-column: 10/11;
        margin: 0px;
        box-sizing: border-box;
        float: left;
    }
    a:-webkit-any-link {
        text-decoration: none;
    }
    #link:hover, a:hover{
        background-color: rgb(159, 198, 248);
        height: 94%;
    }
    a:visited {
        color: rgb(0, 0, 0);
    } 
    .insta{
        width: 40px;
        padding: 0px 0px;
        margin: 0px 0px;
        text-decoration: none;
    }
    .youtube{
        text-decoration: none;
        height: 50px;
        width: 50px;
        padding: 0px 0px;
        margin: 0px 0px;
    }
    #redes td,tr, table{
        background-color: white;
        margin: 0px 0px;
        border: 0px;
        padding: 10px 10px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    /* Ajuste mapa hasta los 1100px */
    @media only screen and (max-width: 1100px) {
        #mapa{ 
            width: 80%;
            height: 80%;
            margin: 0px ;
            padding-top: 10px;
        }
        .insta, .youtube{ 
            width: 30px;
        }
    }
    /* Fin ajuste mapa hasta los 1100px */

    /* Pie de pagina Tablet */
    @media only screen and (max-width: 950px) {
       
        #containerLinks{
            margin-top: 0px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: x-large;
        }
        .piePagina{
            width: 100%;
            column-gap: 0px !important;
        }
        .piePagina #EscudoBurlada{
            width: 80%;
            height: 80%;
            top: 0px;
            grid-row: 1/2;
        }
        .piePagina #Bur {
            grid-column: 2/3;
            width: 50px;
            margin: 0px 0px;
            padding: 0px 0px;
        }
        #contactos{
            grid-column: 6/13 !important;
            margin-left: 0px;
            padding-left: 0px;
        }
        #redes{
            display: none;
        }
        #mapa{ 
            display: none;
        }
    }
    /* Fin Pie de pagina Tablet */

    /* Pie de pagina movil */
    @media only screen and (max-width: 666px) {

        div.piePagina{
            height: 90px;
        }
        div #contactos{
            padding-top: 20px;
            font-size: x-small;
        }
        #Bur h2{
            padding-top: 40px;
            font-size:large;
        }
        #Bur h4{
            font-size:small;
        }
        .piePagina #EscudoBurlada{
            padding-top: 20px;
            width: 100%;
            height: 200%;
        }
    }
    /* Fin Pie de pagina Movil */
/* FIN PIE PAGINA */
/* FIN PIE PAGINA */
/* FIN PIE PAGINA */