#normativa{
    background-image:url(../imgs/fondo_normativa.jpg) ;
}

#instalaciones{
    background-image:url(../imgs/fondo_instalaciones.png) ;
}

#actividades{
    background-image:url(../imgs/fondo_actividades.jpg);
}