/* Cabecera*/

.cabecera{
    box-sizing: border-box;
    position: sticky ;
    top: 0;

    margin: 0px 0px;
    background-color: white;
    z-index: 4;

    border-bottom:1px solid black;
    width:100%;
    height: 70px;
    float:none;
}
#EscudoBurlada{
    position: relative;
    float: left;
    height: 100%;
}
.cabecera h1{
    position: absolute;
    float: left;
    margin-top: 0px;
    
    padding-top: 15px;
    padding-left: 50px;
    
}.cabecera a{
    float: right;
    position: relative;
    text-decoration: none;
    height: 100%;
    
    margin-top: px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;

    font-size: x-large;
}
/* Links cabecera */
.cabecera a:hover{
    background-color: rgb(64, 211, 211);
}

.cabecera a:visited {
    color: rgb(0, 0, 0);
}

.cabecera a:link{
    color: rgb(0, 0, 0);
}


/* Pie de pagina */

.piePagina{

    display: grid;
    grid-area: 100%;
    align-content: center;
    padding-top: 5PX;
    padding-bottom: 5PX;
    float:inline-end;
    background-color: white;

  
    grid-template-columns: 50px auto auto auto auto;
    grid-template-rows: 100%;
    position: absolute;
    box-sizing: border-box;
    
    border-width: border-box;
    border-top:1px solid black;
    width:100%;
    height: 180px;
    column-gap: 10px;
    
}

.piePagina h2{
    grid-column: 2/3;
    position: absolute;
    float: right;
    margin-top: 0px;
    padding-top: 70px;
    padding-left: 55px;
    left: 1%;
        
}

.piePagina h4{
    grid-column: 2/3;
    position: absolute;
    float: right;
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 56px;
    left: 1%;
        
}

#mapa{
    position: absolute;
    grid-column: 3/4;
    float: right;
    height: 100%;
    width: 100%;
    float: left;
    top: 0px;

}
div #contactos  {
    position: absolute;
    grid-column: 4/5;
 
    padding-bottom: 0px;
    margin: 20px 5px;
    padding: 0px 0px;
    height: 50%;
    justify-content:start;
    font-size: medium;
}
div #redes{
    top: 15%;
    position: absolute;
    grid-column: 5/6;
    margin: 0px;
    box-sizing: border-box;
}


 a:-webkit-any-link {
    text-decoration: none;
}

#link:hover, a:hover{
    background-color: rgb(159, 198, 248);
}


a:visited {
    color: rgb(0, 0, 0);
} 

.insta{
   width: 40px;
   padding: 0px 0px;
   margin: 0px 0px;
   text-decoration: none;

}
.youtube{
    text-decoration: none;
    height: 50px;
    width: 50px;
    padding: 0px 0px;
    margin: 0px 0px;
}

#redes td,tr, table{
    background-color: white;
    margin: 0px 0px;
    border: 0px;
    padding: 10px 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    right: 10px;
}
